{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<h1 class="customH">The importance of raising awareness among the population about the need and benefits of recycling</h1>

<p class="customP">During the past years, Spain has managed to improve its data in terms of recycling, but in spite of this
it is still necessary to do a lot of awareness work among the Spanish citizens. Although in some materials,
such as glass, recycling figures are very positive, other do not achieve such as good data.</p>

<p class="customP">In urban waste recycling in general, for example, Spain is among the countries that score ‘worst marks’
within the European Union. According to Eurostat data, the average recycling rate in Europe is 45.2. Spain
is far below, reaching only 29.7. The figure is much lower also than neighboring countries. Portugal achieves
34 and France 41.7.</p>

<p class="customP">To change those results, there is no alternative but to modify the way we are acting. Implementing new models,
such as circular economy, is very important, but it is also important to make the population aware of the need to
recycle and its benefits. To achieve this, there is no choice but to carry out awareness campaigns in which
consumers discover these realities. The reasons why this is important are varied.</p>


<h2 class="customH">It is necessary to implement a new behaviour</h2>

<p class="customP">In recent decades and in recent generations we have become accustomed to using and throwing, although our
grandparents were very used to reusing things or giving them new uses. Nowadays, using and throwing is part of
our automatic behavior. We use one thing and, when we feel that we have finished with it or that we are tired
of it, we throw it away.</p>

<p class="customP">Therefore, for consumers to be clear and to realize what matters and how they should act, there is no alternative
but to carry out reeducation work. We have to implement a behavior that for consumers is actually new. The awareness
work is the only that can make this new reality visible and that can popularize these new behavior patterns.</p>

<h3 class="customH">Recycling has an economic potential</h3>

<p>But recycling is not just a matter of ethical consumption or a tool to help to curb some of the problems
the environment is facing, but it is also an economic tool at a global level. Recycling helps to be much more
efficient in consumption data and allows reducing the spending and improving economic figures.</p>

<p class="customP">You just have to think about the impact it has on energy expenditure to understand it. Some estimates say
that recycling a single plastic bottle saves enough energy to keep a light bulb on for 6 hours and how doing
the same with two tons of plastic saves a ton of oil. With all the glass recycled in Spain since 1998, the energy
that has been saved, according to an estimate, is equivalent to the electricity consumed by all Spanish hospitals
for three years.</p>

<h4 class="customH">Awareness and education campaigns have a direct impact on our habits</h4>

<p class="customP">And, finally, we must not forget that the awareness campaigns and education on the importance of recycling
and on how we should separate our waste are the way to raise awareness among consumers. Above all, these
campaigns help consumers to change their habits. Citizens need to be convinced of the potential and importance
of recycling, something that is only achieved when telling them about it.</p>
{% endblock %}
